.mc-main-logo {
  height: 20%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

td {
  font-size: larger;
  border: 1px solid black;
  padding: 5px;
  width: 200px;
}
